//DEFCDS1 JOB CLASS=A,MSGCLASS=H,MSGLEVEL=(1,1),NOTIFY=&SYSUID,
//       REGION=0M
//ALCCDS   EXEC PGM=IXCL1DSU,COND=(4000,LT)
//SYSPRINT DD SYSOUT=*
//SYSIN     DD *
  DEFINEDS SYSPLEX(MONOPLEX)
       DSN({{ ssa }}.{{ hlq }}.WLM.CDS01)
       VOLSER({{ target.cds.volume }})
       MAXSYSTEM(8)
       CATALOG
     DATA TYPE(WLM)
         ITEM NAME(APPLENV) NUMBER(100)
         ITEM NAME(POLICY) NUMBER(10)
         ITEM NAME(SCHENV) NUMBER(100)
         ITEM NAME(SRVCLASS) NUMBER(30)
         ITEM NAME(SVAEAEXT) NUMBER(5)
         ITEM NAME(SVDCREXT) NUMBER(5)
         ITEM NAME(SVDEFEXT) NUMBER(5)
         ITEM NAME(SVSEAEXT) NUMBER(5)
         ITEM NAME(WORKLOAD) NUMBER(35)
  DEFINEDS SYSPLEX(MONOPLEX)
       DSN({{ ssa }}.{{ hlq }}.WLM.CDS02)
       VOLSER({{ volume }})
      MAXSYSTEM(8)
      CATALOG
   DATA TYPE(WLM)
        ITEM NAME(APPLENV) NUMBER(100)
        ITEM NAME(POLICY) NUMBER(10)
        ITEM NAME(SCHENV) NUMBER(100)
        ITEM NAME(SRVCLASS) NUMBER(30)
        ITEM NAME(SVAEAEXT) NUMBER(5)
        ITEM NAME(SVDCREXT) NUMBER(5)
        ITEM NAME(SVDEFEXT) NUMBER(5)
        ITEM NAME(SVSEAEXT) NUMBER(5)
        ITEM NAME(WORKLOAD) NUMBER(35)

 DEFINEDS SYSPLEX(MONOPLEX)
       DSN({{ ssa }}.{{ hlq }}.XCF.CDS01)
       VOLSER({{ volume }})
      MAXSYSTEM(8)
      CATALOG
   DATA TYPE(SYSPLEX)
      ITEM NAME(GROUP)    NUMBER(50)
      ITEM NAME(MEMBER)   NUMBER(100)
      ITEM NAME(GRS)      NUMBER(1)
 DEFINEDS SYSPLEX(MONOPLEX)
       DSN({{ ssa }}.{{ hlq }}.XCF.CDS02)
       VOLSER({{ volume }})
       MAXSYSTEM(8)
      CATALOG
   DATA TYPE(SYSPLEX)
      ITEM NAME(GROUP)    NUMBER(50)
      ITEM NAME(MEMBER)   NUMBER(100)
      ITEM NAME(GRS)      NUMBER(1)
//
