//DSSLCPY1 JOB CLASS=A,MSGCLASS=H,MSGLEVEL=(1,1),NOTIFY=&SYSUID,
// REGION=0M
//COPY1 EXEC PGM=ADRDSSU ,PARM='TYPRUN=NORUN'
//SYSPRINT DD SYSOUT=*
//SYSIN DD *
  COPY DATASET(INCLUDE(                             -
              **                                    -
     )EXCLUDE(                                      -
       **.VVDS.**,                                  -
       **.VTOCIX.**,                                -
     ))                                             -
        LOGINDYNAM({{ source_volume }})                          -
        OUTDYNAM({{ target_volume }})                            -
        SHR TOL(ENQF) ALLDATA(*) ALLEXCP            -
        RECATALOG({{ target.mcat.name }})                        -
        INCAT({{ source.mcat.name }}) ONLYINCAT
/*
