//CLN1F JOB CLASS=A,MSGCLASS=H,MSGLEVEL=(1,1),NOTIFY=&SYSUID
//STEP1 EXEC PGM=IDCAMS
//SYSPRINT DD SYSOUT=*
//SYSIN    DD *
   IMPORT CONNECT           -
      OBJECTS(              -
      ({{ source.mcat.name }}             -
       DEVICETYPE(3390)     -
       VOLUMES({{ source.mcat.volume }}))     -
      )                     -
    CATALOG({{ driver.mcat.name }})
/*
