//INIT00 JOB CLASS=A,MSGCLASS=H,MSGLEVEL=(1,1),NOTIFY=&SYSUID,
// REGION=0M
//INIT EXEC PGM=ICKDSF ,PARM='NOREPLYU'
//SYSPRINT DD SYSOUT=*
//SYSIN DD *
{% for volume in target.volumes %}
 INIT UNIT({{ target.devices[loop.index0]|upper }}) VFY({{ volume|upper }}) VOLID({{ volume|upper }}) VTOC(0,1,330) INDEX(22,1,75)
{% endfor %}
/*
