//IODFCOP JOB CLASS=A,MSGCLASS=H,MSGLEVEL=(1,1),NOTIFY=&SYSUID,
// REGION=0M
//COPY1 EXEC PGM=ADRDSSU ,PARM='TYPRUN=NORUN'
//SYSPRINT DD SYSOUT=*
//SYSIN DD *
   COPY DATASET(INCLUDE(                          -
      {{ iodf.source }}.CLUSTER                         -
   ))                                             -
   LOGINDYNAM({{ master_mcat_volume }})                             -
   OUTDYNAM({{ driver.mcat.volume }})                               -
   SHR TOL(ENQF) ALLDATA(*) ALLEXCP               -
   RECATALOG({{ driver.mcat.name }})                           -
   INCAT({{ master_mcat_name }}) ONLYINCAT                    -
   RENAMEU(({{ iodf.source }}.CLUSTER,{{ iodf.target }}))
/*
